@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#aufgabencontainer{
    padding: 100px 7% 50px 7%;
    width: 100%;
}

.aufgabe{
    margin-top: 30px;
    width: calc(100% - 40px);
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px 40px 0 40px;
    background-color: var(--mainColor1);
    animation: slideUp 0.4s ease-out forwards;
    transition: height 0.5s ease, transform 0.3s ease;
}

.container1{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.container1>img{
    margin-left: 10px;
    transition: width 0.5s ease, transform 0.5s ease;
}

.container1>img:hover{
    width: var(--vergrößerungIcons);
}

.container2{
   display: flex;
   justify-content: space-between;
}

.container2>div>img{
    transform: translateY(2px);
    margin-right: 10px;
    transition: width 0.5s ease;
}

.container2>div>img:hover{
    width: var(--vergrößerungIcons2);
}

.container2>div>p{
    transform: translateY(6px);
}

.container2>p{
    transform: translateY(6px);
}

.trennbalken{
    width: 1px;
    height: 50px;
    margin-top: 5px;
    background-color: var(--mainColor3);
}

.container2>div>.datum{
    transform: translateY(-7px);
    margin: 0px;
}

.aufgabe>p{
    margin-top: 45px;
    margin-bottom: 15px;
}

.aufgabe>hr{
    margin-top: 5px;
    border: none;      
    height: 1px;    
    background-color: var(--mainColor1);
}