#eingabeContainerProjekte{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    background-color: var(--mainColor1);
    width: 500px;
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

#eingabeContainerProjekte>p{
    align-self: flex-start;
    margin-left: 50px;
}

#eingabeContainerProjekte>input{
    width: 400px;
}

#projektÜbernehmenBtn{
    display: none;
}

#eingabeContainerProjekte>div{
    align-self: flex-start;
    display: flex;
    margin-left: 46px;
    margin-top: 20px;
}

button{
    margin-right: 10px;
}