#eingabeContainerLöschenÜberprüfung{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    background-color: var(--mainColor1);
    width: 350px;
    margin-left: 50%;
    padding-bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

#eingabeContainerLöschenÜberprüfung>div{
    display: flex;
}

#eingabeContainerLöschenÜberprüfung>p{
    align-self: center;
    margin-left: 0;
}

#jaBtn2{
    display: none;
}