#eingabeContainerAufgaben{
    visibility: hidden;
    position: fixed;
    width: 410px;
    height: auto;
    padding: 0px 30px 25px 30px;
    z-index: 3;
    background-color: var(--mainColor1);
    margin-left: 50%;
    transform: translateX(-50%);
}

#eingabeContainerAufgaben.p{
    width: 400px;
}

.inputText{
    width: 400px;
}

.warnmeldung{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
    margin-bottom: 0px;
}

#beschreibung{
    width: 400px;
    max-width: 400px;
    min-width: 400px;
}

#priorität{
    width: 400px;
}

.endtermin{
    display: flex;
    flex-direction: column;
    width: 110px;
}

#datum{
    width: 110px;
}

#uhrzeit{
    margin-top: 5px;
    width: 70px;
}

.buttons{
    display: flex;
    margin-top: 25px;
}

#aufgabenÜbernehmenBtn{
    display: none;
}