header{
    will-change: transform, opacity;
    width: calc(100% - 330px);
    height: 100px;
    position: fixed;
    right: 0;
    z-index: 1;
    background-color: var(--background-color);
    box-sizing: border-box; 
    padding: 0 7% 0 7%;  
}

.textUndButton{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.textUndButton>p{
    font-size: var(--überschriftH2);
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px; 
    text-decoration-color: var(--mainColor1);
}

.textUndButton>div{
    visibility: hidden;
    transform: translateY(5px);
    display: flex;
    justify-content: space-between;
    transition: margin 0.5s ease;
}

.textUndButton>div{
    transition: margin 0.5s ease;
}

.textUndButton>div:hover{
    margin-top: 5px;
    margin-right: 5px;
}

.textUndButton>div>p{
    color: var(--mainColor2);
    margin: 0px;
    font-size: var(--überschriftH3);
    user-select: none;
    align-self: center;
    transition: font-size 0.5s ease;
}

.textUndButton>div:hover>p{
    font-size: var(--hoverFontSize);
    color: var(--mainColorHover)
}

.textUndButton>div>svg{
    width: 25px;
    margin-left: 10px;
}

.textUndButton>div:hover>svg .st0{
    fill: var(--mainColorHover);
}