#projektcontainer{
    position: fixed;  
    height: 100%;
    background-color: var(--mainColor1);
    padding-right: 50px; 
    overflow: hidden;
    width: 330px;
    box-sizing: border-box;
    transition: width 0.5s ease;
    z-index: 1;
}

#projektcontainer:hover{
    width: 400px;
}

#projektcontainerplatzhalter{
    margin-right: 330px;
}

#projektcontainer>img{
    width: var(--logoGrö0e);
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    transition: width 0.5s ease, margin 0.5s ease;
}

#projektcontainer:hover>img{
    width: 200px;
    margin-bottom: 10px;
}
 
.buttonHinzufügen{
    display: flex;
    margin: 40px 0px 20px 50px;
    user-select: none;
    width: 230px;
}

.buttonHinzufügen>svg{
    width: 23px;
    color: aliceblue;  
}

.buttonHinzufügen>p{
    color: var(--mainColor2);
    font-size: var(--überschriftH3);
    margin-left: 10px;
    transition: font-size 0.5s ease;
}

.buttonHinzufügen:hover>p {
    color: var(--mainColorHover);
    font-size: var(--hoverFontSize);
}

.buttonHinzufügen:hover>svg .st0{
    fill: var(--mainColorHover);
}

.projekt{
    margin-left: 50px;
}

#projektcontainer>p{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px; 
    text-decoration-color: var(--mainColor3);
}

.projekt{
    display: flex;
    align-items: start;
}

.projekt>p {
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 25px;
    margin-left: 40px;
    transition: margin-left 0.5s ease, margin-bottom 0.5s ease, text-decoration-thickness 0.5s ease, text-underline-offset 0.5s ease;
}

.projekt:hover>p{
    margin-left: 15px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px; 
    text-decoration-color: var(--mainColor3);
}

.projekt>img{
    margin-top: 25px;
    margin-left: 10px; 
    opacity: 0;  
    visibility: hidden;
    transform: translateY(-140%);
    transition: opacity 0.5s ease, width 0.5s ease;
}

.projekt:hover>img{
    visibility: visible;
    opacity: 100;
}

.projekt>img:hover{
    width: var(--vergrößerungIcons);
}



