#projektcontainer{

    height: 100%;
    background-color: var(--mainColor1);
    padding-right: 50px; 
 
}

.buttonHinzufügen{
    display: flex;
    margin: 100px 0px 20px 50px;
    user-select: none;
    width: 230px;
}

.buttonHinzufügen>svg{
    width: 30px;
    color: aliceblue;
    
}

.buttonHinzufügen>p{
    color: var(--mainColor2);
    margin-left: 10px;
    transition: font-size 0.5s ease;
}

.buttonHinzufügen:hover>p {
    color: var(--mainColorHover);
    font-size: 25px;
}

.buttonHinzufügen:hover>svg .st0{
    fill: var(--mainColorHover);
}

.projekt{
    margin-top: 15px;
    margin-left: 50px;
}

#projektcontainer>p{
    font-weight: bold;
    margin-top: 45px;
    margin-left: 60px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px; 
    text-decoration-color: var(--mainColor3);
}

.projekt{
    display: flex;
    align-items: start;
}

.projekt>p {
    margin-left: 40px;
    transition: margin-left 0.5s ease, margin-bottom 0.5s ease, text-decoration-thickness 0.5s ease, text-underline-offset 0.5s ease;
}

.projekt:hover>p{
    margin-left: 20px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px; 
    text-decoration-color: var(--mainColor3);
}

.projekt>img{
    margin-top: 25px;
    margin-left: 10px; 
    opacity: 0;  
    visibility: hidden;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.projekt:hover>img{
    visibility: visible;
    opacity: 100;
}

.projekt>img:hover{
    width: var(--vergrößerungIcons);
}



